## IMPORTAR LIBS

In [37]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

### CARREGAR DADOS E DEFINIR VARIÁVEIS PREDITORAS

In [52]:
train  = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

variaveis = ["Sex_binario", "Age"]

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### CRIAR MODELO

In [53]:
modelo = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)

In [4]:
pd.value_counts(train["Sex"])

male      577
female    314
Name: Sex, dtype: int64

### DEFINIR FUNÇÕES

In [54]:
def transformar_sexo(valor):
    if valor == "female":
        return 1
    else:
        return 0
    
train["Sex_binario"] = train["Sex"].map(transformar_sexo)
test["Sex_binario"] = test["Sex"].map(transformar_sexo)

### DEFINIR VARIÁVEIS DE PREVISÃO

In [55]:
X = train[variaveis]
y = train["Survived"]

X = X.fillna(-1)
X.head()

   Sex_binario   Age
0            0  22.0
1            1  38.0
2            1  26.0
3            1  35.0
4            0  35.0

### POPULAR NOSSO MODELO COM OS DADOS

In [56]:
modelo.fit(X, y)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [57]:
variaveis = ["Sex_binario", "Age"]
X_prev = test[variaveis]
X_prev = X_prev.fillna(-1)

X_prev.head()

   Sex_binario   Age
0            0  34.5
1            1  47.0
2            0  62.0
3            0  27.0
4            1  22.0

### PREVÊ NOSSA VARIÁVEL E INDEXAÇÃO

In [58]:
p = modelo.predict(X_prev)
sub = pd.Series(p, index=test["PassengerId"], name="Survived")

In [24]:
test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Sex_binario'],
      dtype='object')

### SALVO A PREVISÃO

In [25]:
sub.shape

(418,)

In [36]:
sub.to_csv("Primeiro_modelo.csv", header="True")

In [27]:
!head -n10 Primeiro_modelo.csv

PassengerId,Survived
892,0
893,0
894,1
895,1
896,1
897,0
898,0
899,0
900,0

In [41]:
X_falso = np.arange(10)

In [49]:
np.random.seed(0)
train_test_split(X_falso, test_size=0.5)

[array([6, 7, 3, 0, 5]), array([2, 8, 4, 9, 1])]

In [61]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.5)

In [63]:
X_train.shape

(445, 2)

In [64]:
modelo.fit(X_train, y_train)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [66]:
p = modelo.predict(X_valid)

In [67]:
np.mean(y_valid == p)

0.7668161434977578

In [68]:
#Teste colocando todas as mulheres como sobreviventes.
p = (X_valid["Sex_binario"] == 1).astype(np.int64)
np.mean(y_valid == p)

0.7892376681614349